#tmsg_cont {
    display: block;
}

form[name="inscription"] .error {
    background-color: coral;
}

/*li {
    background-color: ghostwhite;
    color: black;
    border-style: solid;
    text-align: right;
    display: inline-block;
}*/