#tmsg_cont {
    display: block;
}


form[name="inscription"] .error {
    background-color: #fac040;
}

form[name="inscription"] .error_msg {
    margin-top : 2px;
    margin-bottom : 2px;
    background-color: #fac040;
}

/*li {
    background-color: ghostwhite;
    color: black;
    border-style: solid;
    text-align: right;
    display: inline-block;
}*/